* {
  margin: 0;
  padding: 0;
}

.App {
  width: 90vw;
  margin: auto;
  display: flex;
}

.users-table>*{
  margin-bottom: 10px;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.home-wrapper>* {
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.first_name {
  width: 20%;
}

.last_name {
  width: 20%;
}

.age {
  width: 10%;
}

.email {
  width: 25%;
}

.web {
  width: 25%;
}

th, td {
  display: relative;
  border-bottom: 1px solid rgb(208, 205, 205);
  padding: 10px 0;
  border-spacing: 0;
}

.pagination-ul {
  list-style: none;
  display: flex;
}

.pagination-li {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

a {
  text-decoration: none;
}

.pagination-li a {
  text-decoration: none;
}

h1 {
  font-weight: 400;
}

th {
  font-weight: 600;
  background-color: rgb(250, 246, 246);
  position: relative;
  left: 0;
}

th:hover{
  cursor: pointer;
}

input {
  width: 70%;
  padding: 6px;
  border: 1px solid rgb(136, 136, 237);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-ele {
  position: relative;
  width: 40%;
  display: flex;
  align-items: center;
}

.search-icon {
  width: 17.5px;
  padding: 5px;
  border: 1px solid rgb(136, 136, 237);
  background-origin: padding-box;
}

.usercard-wrapper {
  display: flex;
  margin: 3%;
}

.back-button-wrapper {
  margin-right: 20px;
  margin-top: 10px;
}

.back-btn {
  border: none;
  background-color: transparent;
}

.back-btn:hover {
  border: 1px solid black;
  border-radius: 3px;
  background-color: gray;
  box-sizing: border-box;
}

.usercard-wrapper h2 {
  border-bottom: 1px solid rgb(208, 205, 205);
  padding: 15px 0;
  width: 100%;
  font-weight: 400;
}

.usercard-wrapper h1 {
  font-weight: 700;
}

.usercard-wrapper h2 span {
  font-weight: 650;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}